body, html
  line-height: 1
  font-family:
    'Helvetica Neue'
  user-select: none
  color: #fff
  .van-toast
    background: #05FE9F
    height: .34rem
    .van-toast__text
      font-size: .14rem
      color: #0A1B39
  .frogooo-dialog
    .van-dialog__confirm
      font-weight: 700
@media (max-width: 750px)
  body
    line-height: 1.1
    font-size: .14rem
  .no-scroll
    overflow: hidden !important
  .background-gray
    background: #F2F4F8 !important
  .background-white
    background: #fff !important
@media (min-width: 1024px)
  .van-toast
    height: 34px !important
    .van-toast__text
      font-size: 14px !important
